DATABASE_URL="postgresql://sentryphish:sentryphish@localhost:5432/sentryphish?schema=public"
JWT_SECRET="change-me-to-a-long-random-string-at-least-16-chars"
NODE_ENV="development"
PORT=4000
CLIENT_ORIGIN="http://localhost:5173"
COOKIE_SECURE="false"
